<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="src/assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="antialiased">
    <div class="min-h-screen flex flex-col">
      <!-- Header -->
      <%- navbar %>

      <!-- Main -->
      <main class="flex-1 section">
        <!-- HERO -->
        <h1>Ini layouts</h1>
        <section class="section"><%- hero %></section>

        <!-- FEATURES -->
        <section class="section bg-surface"><%- features %></section>

        <!-- TESTIMONIALS -->
        <section class="section"><%- testimonials %></section>

        <!-- PRICING -->
        <section class="section bg-surface"><%- pricing %></section>

        <!-- FAQ -->
        <section class="section"><%- faq %></section>

        <!-- CTA -->
        <section class="section bg-surface text-center"><%- cta %></section>
      </main>

      <!-- Footer -->
      <%- footer %>
    </div>

    <script src="src/assets/js/main.js"></script>
  </body>
</html>
